@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	color-scheme: light dark;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: .8rem;
}

p {
	font-size: .8rem;
	margin: 0;
	padding: 0;
}


img,
svg,
video {
	max-width: 100%;
	display: block;
}

.container {
	width: min(70ch, 100% - 4rem);
	margin-inline: auto;
}

.input {
	border: 1px solid white;
	display: flex;
	border-radius: 6px;
	justify-content: space-between;
}

.input-area {
	background: none;
	width: 90%;
	border: none;
	padding: 1rem;
}

.input-area:focus {
	outline: none;
	border: none;
}

.btn {
	border: none;
	padding: 1rem;
	background: none;
	right: 0;
}

.btn:hover {
	background-color: #ffffff55;
	border-radius: 6px;
}

.message {
	display: none;
	border: 1px solid white;
	max-width: 100%;
	border-radius: 6px;
	margin-top: 1rem;
	height: fit-content;
}

.box1 {
	background-color: #494949a9;
	padding: 1rem;
	border-radius: 6px;
	margin: 2px;
}

.box2 {
	background-color: #292929c2;
	padding: 1rem;
	border-radius: 6px;
	margin: 2px;
}

footer {
	font-size: .8rem;
	padding-top: 2rem;
}